<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style type="text/css" rel="stylesheet">
        .content {
            overflow: hidden;
            background-color: #EEEEEE;
            padding: 20px;
        }
        </style>
    </head>
    <body>
        <div class="content">
            {{ errors }}
            <form method="post" action=".">
                {% csrf_token %}
                {% block form_content %}
                {% endblock %}
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </body>
</html>
