{% extends "auth_page.html" %}
{% load url from future %}
{% load i18n %}
{% block form_content %}

<p>{% trans "Below you can modify your profile information" %}</p>

<form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <table>
        <tr>
            <th>{% trans 'Username' %}:</th>
            <td>{{ user }}</td>
        </tr>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="{% trans 'save profile' %}" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
